li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

#tester {
	height: 300px;
	width: 100%;
}

#TopRow {
    height: 300px;
}