body {
    background-color: white;
}

li a {
    display: block;
    color: #176817;
    border-left: 3px solid #176817;
    border-bottom: 3px solid #176817;
    border-right: 3px solid #176817;
    background-color: black;
    text-align: left;
    font-size: 20px;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

#subHead {
    color: #176817;
    font-style: italic;
    font-size: 50px;
    font-family: impact;
    text-shadow: 10px 10px #0A2A0A;
}

#hamburgerContainer {
    background-color: black;
    border-bottom: 3px solid #176817;
}

#hamburger {
    color: #176817;
}

#gaveBenProblems {
    font-size: 100px;
    font-style: italic;
    font-family: impact;
    color: #176817;
    text-shadow: 10px 10px #0A2A0A;
}

#TopRow {
    height: 300px;
}

#topBar {
    background-color: black;
}

#graphButtons {
    background-color: black;
}

#graphButtons li a{
    color: #176817;
}

#range {
    color: #176817;
    font-size: 20px;
}

#layoutButtons {
    background-color: black;
    border-left: 3px solid #176817;
    border-bottom: 3px solid #176817;
    border-right: 3px solid #176817;
}